<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Shastra">
  <parameter name="rollnumber" value="1003"></parameter>
  <parameter name="studentName" value="Suchita"></parameter>
	<test thread-count="5" name="Regression Test">
	<groups>
	    <run>
	     <include name="Regression"></include>
	    </run>
	</groups>
	   <classes>
			<class name="ClassA" />
			<class name="ClassB"></class>
			<class name="ClassC"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
